.admin-link{
    margin: 1em 0;
    padding: 0.5em 0;
    font-size: 1.3em;
    color: white;
}
.admin-link:hover{
    color: white;
    text-decoration: none;
    background-color: #57a0b6;
}
.bazar-logo-admin:hover{
    text-decoration: none;
}